.Fot {
  max-width: 100%;
  padding: 2% 10%;
}
.foto-con {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.foto-con div a {
  text-decoration: none;
  cursor: pointer;
  color: var(--green);
  font-size: 20px;
  transition: color 0.8s ease;
}
.foto-con div a:hover {
  color: var(--slate);
}

.foto-con div ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 15px;
}

.foto-con div ul li a {
  color: var(--slate);
  font-size: 15px;
  transition: color 0.8s ease;
}
.foto-con div ul li a:hover {
  color: var(--green);
}
